/* Custom style sheet */
.se-pre-con {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: url(images/loader-64x/Preloader_2.gif) center no-repeat #fff;
}

div#loading-container {
    text-align: center;
    position: relative;
    top: 50%;
    transform: translateY(-50%);  
}
p#loading-text {
    font-weight: 300;
    font-size: 1.1em;
    color: #a0a0a0;
    text-align:center;
    text-transform: uppercase;
}
body {
    background: #f5f5f5;
}

.modal { width: 70% !important; max-height: 95% !important;  top:3% !important;}

div#old-projects {
    display:none;
    animation: fadein 1s;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/*Top banner*/

#main-nav {
    background: rgba(20, 20, 20, 0.1);
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    z-index: 10 !important;
    transform: scale(1.00);
    font-size: 1.0em;
}
nav ul a,
nav .brand-logo {
    color: white;
    font-size: 1em;
    font-weight: 300;
}
.black-links {
    color: #444 !important;
}

/*Overriding the parallax container*/

#index-banner {
    min-height: 0px;
    top:-65px;
}

div#front-text-container {
    z-index: 999;
    opacity:1;
    bottom: 55px;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
}
h2#front-text-1 {
    text-align: center;
    font-weight: 300;
    font-size: 6.5em;
}
p#front-text-2 {
    color: white;
    font-size: 1.2em;
    line-height: 0px;
    font-weight: 300;
    text-align: center;
}
h5#contact {
    font-size: 1.4em;
    font-weight: 300;
}
div#section-1 {
    margin-top: -65px;
    width: 100%;
    border-top: 1px solid #c0c0c0;
    border-bottom: 1px solid #c0c0c0;
}
div#section-2 {
    width: 100%;
    background: #f5f5f5;
    border-top: 1px solid #c0c0c0;
}
h4.header-in-section {
    font-weight: 300;
}
.colorize-nav {
    background: rgba(255, 255, 255, 1) !important;
    transform: scale(1.0) !important;
}
.no-shadow {
    -moz-box-shadow: 0px 0px 0px 0px #ccc;
    -webkit-box-shadow: 0px 0px 0px 0px #ccc;
    box-shadow: 0px 0px 0px 0px #ccc;
}
a.header-name {
    font-size: 1.4em;
    font-weight: 300;
}
p {
    line-height: 2rem;
}
.button-collapse {
    color: #039be5;
}
.parallax-container {
    min-height: 400px;
    line-height: 0;
    height: auto;
    color: rgba(255, 255, 255, .9);
}

.para-2{

    min-height:250px !important;

}

.parallax-container .section {
    width: 100%;
}
@media only screen and (max-width: 992px) {
    .parallax-container .section {
        position: absolute;
        top: 40%;
    }
    #index-banner .section {
        top: 10%;
    }
}
@media only screen and (max-width: 600px) {
    #index-banner .section {
        top: 0;
    }

    #index-banner{
        top:-55px !important;
    }

    #section-1{

        margin-top:-55px !important;

    }

}
.icon-block {
    padding: 0 15px;
}
.icon-block .material-icons {
    font-size: inherit;
}
footer.page-footer {
    margin: 0;
}
p.speech:before {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    left: 30px;
    top: 100px;
    border: 23px solid;
    border-color: #26a69a transparent transparent #26a69a;
}
p.speech:after {
    content: '';
    color: black;
    position: absolute;
    width: 0;
    height: 0;
    left: 34px;
    top: 100px;
    border: 18px solid;
    border-color: #fff transparent transparent #fff;
}
p.speech {
    color: #666;
    float: right;
    position: relative;
    width: 170px;
    text-align: center;
    line-height: 100px;
    background-color: #fff;
    border: 5px solid #26a69a;
    /*#666*/
    
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
    -webkit-box-shadow: 2px 2px 4px #888;
    -moz-box-shadow: 2px 2px 4px #888;
    box-shadow: 2px 2px 4px #888;
}
p.thought {
    position: relative;
    width: 130px;
    height: 100px;
    text-align: center;
    line-height: 100px;
    background-color: #fff;
    border: 8px solid #666;
    -webkit-border-radius: 58px;
    -moz-border-radius: 58px;
    border-radius: 58px;
    -webkit-box-shadow: 2px 2px 4px #888;
    -moz-box-shadow: 2px 2px 4px #888;
    box-shadow: 2px 2px 4px #888;
}
p.thought:before,
p.thought:after {
    left: 10px;
    top: 70px;
    width: 40px;
    height: 40px;
    background-color: #fff;
    border: 8px solid #666;
    -webkit-border-radius: 28px;
    -moz-border-radius: 28px;
    border-radius: 28px;
}
p.thought:after {
    width: 30px;
    height: 20px;
    left: 5px;
    top: 100px;
    -webkit-border-radius: 18px;
    -moz-border-radius: 18px;
    border-radius: 18px;
}
.chip {
    margin-bottom: 5px;
}
.card-title {
    font-size: 1.3em !important;
}

p.card-text {
    font-size: 0.9em;
    line-height:1.8 !important;
}

span.year {
    color: #039be5;
}
/* SOCIAL */
@font-face {
    font-family: 'si';
    src: url('../img/social/socicon.eot');
    src: url('../img/social/socicon.eot?#iefix') format('embedded-opentype'), url('../img/social/socicon.woff') format('woff'), url('../img/social/socicon.ttf') format('truetype'), url('../img/social/socicon.svg#icomoonregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@media screen and (-webkit-min-device-pixel-ratio: 0) {
    @font-face {
        font-family: si;
        src: url(../img/social/socicon.svg) format(svg);
    }
}
.soc {
    overflow: hidden;
    margin: 0;
    padding: 0;
    list-style: none;
}
.soc li {
    display: inline-block;
    *display: inline;
    zoom: 0.8;
    margin-right: 0px;
}
.soc li a {
    font-family: si!important;
    font-style: normal;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    -o-transition: .1s;
    -ms-transition: .1s;
    -moz-transition: .1s;
    -webkit-transition: .1s;
    transition: .1s;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    overflow: hidden;
    text-decoration: none;
    text-align: center;
    display: block;
    position: relative;
    z-index: 1;
    width: 38px;
    height: 38px;
    line-height: 38px;
    font-size: 22px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    margin-right: 0px;
    color: #ffffff;
    /*background-color: #454545;*/
    cursor: pointer;
}
.soc-icon-last {
    margin: 0 !important;
}
.soc-apple {
    background-color: #B9BFC1;
}
.soc-apple:before {
    content: 'O';
}
.soc-apple:hover {
    background-color: #cdd3d5;
}
.soc-play {
    background-color: #000000;
}
.soc-play:before {
    content: 'L';
}
.soc-play:hover {
    background-color: #363636;
}
.soc-github {
    background-color: #5380c0;
}
.soc-github:before {
    content: 'Q';
}
.soc-github:hover {
    background-color: #6794d4;
}
.soc-youtube:hover {
    background-color: #f43e34;
}
.soc-youtube {
    background-color: #e02a20;
}
.soc-youtube:before {
    content: 'r';
}

.soc-www{
    background:#c0c0c0; 
    border-radius:5px; 
    padding:5px;
}

.soc-www:hover{

    background:#d0d0d0;


}

/* Social in footer */

.github-hover {
    background-image: url('../img/social/github-hover.png');
}
.facebook-hover {
    background-image: url('../img/social/facebook-hover.png');
}
.twitter-hover {
    background-image: url('../img/social/twitter-hover.png');
}
.email-hover {
    background-image: url('../img/social/email-hover.png');
}
.linkedin-hover {
    background-image: url('../img/social/linkedin-hover.png');
}
.instagram-hover {
    background-image: url('../img/social/instagram-hover.png');
}
.social-slide {
    height: 48px;
    width: 48px;
    margin: 5px;
    float: left;
    -webkit-transition: all ease 0.3s;
    -moz-transition: all ease 0.3s;
    -o-transition: all ease 0.3s;
    -ms-transition: all ease 0.3s;
    transition: all ease 0.3s;
}
.social-slide:hover {
    background-position: 0px -48px;
    /*box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.8);*/
}
body {
    -webkit-animation: fadein 2s;
    /* Safari, Chrome and Opera > 12.1 */
    
    -moz-animation: fadein 2s;
    /* Firefox < 16 */
    
    -ms-animation: fadein 2s;
    /* Internet Explorer */
    
    -o-animation: fadein 2s;
    /* Opera < 12.1 */
    
    animation: fadein 2s;
}
@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
/* Firefox < 16 */
@-moz-keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
/* Safari, Chrome and Opera > 12.1 */

@-webkit-keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
/* Internet Explorer */

@-ms-keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
/* Opera < 12.1 */

@-o-keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}


.card:hover{
    opacity:0.9 !important;
}
